.site-header {
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: rgba(47,85,114,.3);

  @mixin atMedium {
    position: fixed;
    background-color: rgba(47,85,114,.55);

    &--dark {
      background-color: rgba(23, 51, 72, .85);
    }
  }

  &__btn-container {
    float: right;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transition: transform .3s ease-out;
    background-color: $mainBlue;
    padding: 25px 36px;

    @mixin atMedium {
      left: auto;
      transform: translateX(0);

      .site-header--dark & {
        transform: scale(.55);
      }
    }
  }
}